* {
    background-color: #ff7778;
}


a:link {
    color: #66FF00;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

a:visited{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: #ccff33;
    text-decoration: underline;
    background-color: transparent;
}

a:active{
    color: #990000;
    text-decoration: underline;
    background-color: transparent;
}

h1 {
    color: blue;
    font-size: 12px;
}

#titulo {
    text-align: center;
    color: red;
}

.centralizado {
    text-align: center;
}

.dotted {
    border-style: dotted;
}
.dashed {
    border-style: dashed;
}
.solid {
    border-style: solid;
}
.double {
    border-style: double;
}
.groove {
    border-style: groove;
}
.inset {
    border-style: inset;
}
.outset {
    border-style: outset;
}
.none {
    border-style: none;
}
.hidden {
    border-style: hidden;
}

.mix {
    border-style: dotted dashed solid double;
}